
<div id='root' class="w-screen h-screen flex flex-col justify-center items-center space-y-4">
    <p>hello 
        <span slot="username">male</span>
        <!-- <slot name="username">rawk</slot> -->
    </p>
        <br/>
    <button id="hello" class="text-2xl">ah shit</button> 
    <!-- <input id="about/hello_input" data-for="username" placeholder="enter name"/> -->

    <div id="gallery" class="w-full flex h-64 p-2 space-x-2">
        <!-- gallery will go here -->
     
        <!-- <my-paragraph>
            <span slot="my-text" >Let's have some different text!</span>
        </my-paragraph>
        <my-paragraph>
            <span slot="my-text" >Let's have some different text!</span>
        </my-paragraph> -->

    </div>

 
  
</div>


